[submodule "BakaSU"]
	path = BakaSU
	url = https://github.com/Baka-SU/BakaSU.git
	branch = main
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount
	branch = master
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
	branch = main
